<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Team_20.Properties.Settings.ProjectDataBaseConnectionString"
            connectionString="Data Source=tcp:sce-group20-project.database.windows.net,1433;Initial Catalog=ProjectDataBase;Persist Security Info=True;User ID=Group20;Password=gKrt@gyT"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>